@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
  font-family: "Oswald", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: rgb(0, 166, 255);
  text-decoration: underline;
}

.backdrop {
  z-index: 98;
  background: rgba($color: #000000, $alpha: 0.4);
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal {
  z-index: 99;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;
  padding: 10px;
  width: 75%;
}
.modal-title {
  font-size: 1.5em;
  font-weight: bold;
}
.modal button:not(.hand-tile) {
  display: block;
  width: 100%;
  border: 1px solid rgb(219, 219, 219);
  margin-top: 10px;
}

.buttons-row {
  width: 100%;
  display: flex;
  gap: 6px;
}

.title {
  border-bottom: 1px solid black;
  font-size: 1.5em;
  font-weight: 900;
  position: fixed;
  backdrop-filter: blur(10px);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  .title-right {
    float: right;
    display: flex;
    align-items: center;
    gap: 6px;
  }
  a {
    text-decoration: none;
  }
  .clear-btn {
    font-size: 0.8rem;
    background: rgb(255, 154, 154);
  }
  z-index: 2;
}

.keyboard {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 480px;
  box-sizing: border-box;
  padding: 10px 12px calc(10px + env(safe-area-inset-bottom));
  backdrop-filter: blur(10px);
  border-top: 1px solid #ddd;
}
.keyboard .tile {
  display: grid;
  align-items: center;
  justify-content: center;
  * {
    grid-row: 1;
    grid-column: 1;
  }
}
.keyboard-btn-disabled {
  background: rgb(184, 184, 184) !important;
}
.dragon-name {
  font-size: 0.7em;
  line-height: 0px;
  color: white;
}

.tile, button {
  font-family: "Oswald", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5em;
  padding: 6px 0;
  background: white;
  border: none;
  border-radius: 10px;
  color: #222;
  touch-action: manipulation;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
  img, svg {
    height: 1.5em;
  }
}
button {
  padding: 6px 10px;
}
.hand-tile {
  width: 44px;
  height: 58px;
  padding: 0;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  transition: transform 0.2s;
  svg {
    display: inline;
    width: 16px;
  }
}
.pending-tile {
  width: 44px;
  height: 58px;
  border: 2px dashed #999;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.editing-tile {
  /*background: #fff2cf;
  animation-name: editing-blink;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;*/
  border: 2px solid #fff2cf;
}

.charleston {
  margin-top: 20px;
  text-align: right;
}
.arrow-btn {
  $h: 36px;
  font-size: 16px;
  box-shadow: none;
  clip-path: polygon(0% 0%, calc(100% - $h/2) 0%, 100% 50%, calc(100% - $h/2) 100%, 0 100%);
  height: $h;
  padding-right: 20px;
}
.charleston-selected-tile {
  opacity: 30%;
  transform: rotate(-14deg) scale(85%);
}


.pattern {
  font-size: 1.6em;
}
.ranking {
  font-size: 0.5em;
  min-width: 3em;
  color: gray;
}
.group {
  img, svg {
    height: 0.9em;
    transform: translateY(2px);
  }
}
.group img.white-dragon {
  height: 0.9em;
  transform: translateY(1.5px);
}
.closed {
  width: 1.5em;
  transform: translateY(-5px);
}
@keyframes editing-blink {
  0% {
    background: #fff2cf;
  }
  49% {
    background: #fff2cf;
  }
  50% {
    background: rgb(248, 245, 235);
  }
  100% {
    background: rgb(248, 245, 235);
  }
}