@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

body {
  font-family: "Oswald", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

code {
  font-family: 'Azeret Mono', monospace;
}

a {
  color: rgb(0, 166, 255);
  text-decoration: underline;
}

.menu-btn {
  margin-right: 5px;
}

.backdrop {
  z-index: 98;
  background: rgba($color: #000000, $alpha: 0.4);
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal {
  z-index: 99;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;
  padding: 10px;
  width: 75%;
  max-height: calc(100vh - 40px);
  overflow-y: scroll;
}
.modal-title {
  font-size: 1.5em;
  font-weight: bold;
}
.modal button:not(.hand-tile) {
  display: block;
  width: 100%;
  border: 1px solid rgb(219, 219, 219);
}

.modal button:not(.hand-tile):not(.btn-sm) {
  margin-top: 10px;
}

.buttons-row {
  width: 100%;
  display: flex;
  gap: 6px;
}

.title {
  border-bottom: 1px solid black;
  font-size: 1.5em;
  font-weight: 900;
  position: fixed;
  backdrop-filter: blur(10px);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  .title-right {
    float: right;
    display: flex;
    align-items: center;
    gap: 6px;
  }
  a {
    text-decoration: none;
  }
  .clear-btn {
    font-size: 0.8rem;
    background: rgb(255, 154, 154);
  }
  z-index: 2;
}

.keyboard {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 480px;
  box-sizing: border-box;
  padding: 10px 12px calc(10px + env(safe-area-inset-bottom));
  backdrop-filter: blur(10px);
  border-top: 1px solid #ddd;
  z-index: 5;
}
.keyboard .tile {
  display: grid;
  align-items: center;
  justify-content: center;
  * {
    grid-row: 1;
    grid-column: 1;
  }
  img[src*="D.svg"] {
    filter: invert(1);
  }
}
.keyboard-btn-disabled {
  background: rgb(184, 184, 184) !important;
}
.dragon-name {
  font-size: 0.7em;
  line-height: 0px;
  color: white;
}
$tile-border-radius: 10px;
.tile, button {
  font-family: "Oswald", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5em;
  padding: 6px 0;
  background: white;
  border: none;
  border-radius: $tile-border-radius;
  color: #222;
  touch-action: manipulation;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
  img {
    height: 1.5em;
  }
}
button {
  padding: 6px 10px;
}
.hand-tile {
  width: 44px;
  height: 58px;
  padding: 0;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  transition: transform 0.2s;
  img {
    display: inline;
    width: 22px;
  }
  .suit-indicator {
    width: 16px;
    margin-left: 3px;
  }
}
#hand-view {
  .hand-tile {
    border-color: #ccc;
  }
  .editing-tile {
    border: 2px solid #f1b81a;
  }
}
.pending-tile {
  width: 44px;
  height: 58px;
  border: 2px dashed #999;
  border-radius: $tile-border-radius;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pending-tile, .editing-tile:not(.suitless-tile) {
  img {
    filter: invert(1);
  }
}

.charleston, .meld {
  margin-top: 10px;
  text-align: right;
}
.arrow-btn {
  $h: 36px;
  font-size: 16px;
  box-shadow: none;
  clip-path: polygon(0% 0%, calc(100% - $h/2) 0%, 100% 50%, calc(100% - $h/2) 100%, 0 100%);
  height: $h;
  padding-right: 20px;
}
$orange: rgb(243, 142, 26);
.btn-orange {
  background: $orange;
}
$purple: rgb(132, 20, 207);
.btn-purple {
  background: $purple;
  color: white;
}
.charleston-selected-tile {
  opacity: 30%;
  transform: rotate(-14deg) scale(85%);
}
.melded-tile {
  position: relative;
}
.melded-tile::before {
  content: "";
  background: none;
  border: 4px solid $purple;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  border-radius: $tile-border-radius;
}
.melded-tile::after {
  content: "M";
  font-size: 10px;
  background: $purple;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none;
  border-radius: $tile-border-radius;
  width: 15px;
  height: 15px;
  color: white !important;
}

.pattern {
  font-size: 1.6em;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 6px;
  border-bottom: 1px solid #eee;
}
.pattern-id {
  font-size: 0.5em;
  min-width: 3em;
  color: gray;
}
.pattern-container {
  width: 100%;
}
.pattern-percent {
  font-size: 0.4em;
  color: #666;
  background: #ddd;
  width: 100%;
  text-align: center;
  position: relative;
  div {
    background: hsl(0, 73%, 41%);
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  }
  span {
    z-index: 2;
    position: relative;
  }
}
.pattern-view {
  user-select: none;
}
.group {
  img {
    height: 0.9em;
    transform: translateY(2px);
  }
}
.group img.white-dragon {
  height: 0.9em;
  transform: translateY(1.5px);
}
.closed {
  width: 1.5em;
  transform: translateY(-5px);
}

.arrangement-view {
  .hand-tile {
    width: 26px;
    height: 34px;
    img {
      width: 14px;
    }
    .suit-indicator {
      width: 9px;
    }
  }
}
.tile-muted {
  border: 2px dashed #aaa;
  opacity: 0.3;
  .suit-indicator {
    filter: invert(1);
  }
}

$h: 14px;
$pd: 2px;
.switch {
  display: inline-block;
  width: $h * 2;
  height: $h;
  background: #bbb;
  border-radius: $h;
  position: relative;
  .switch-knob {
    position: absolute;
    top: $pd;
    left: $pd;
    width: $h - $pd * 2;
    height: $h - $pd * 2;
    background: white;
    border-radius: $h;
    transition: left 0.2s;
  }
}
.switch-on {
  background: rgb(19, 193, 19);
  .switch-knob {
    left: $pd + $h;
  }
}

.btn-sm {
  font-size: unset !important;
}

.button-group {
  display: flex;
  button {
    border-radius: 0;
    &:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    &:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    transition: background 0.2s, color 0.2s;
  }
  .button-active {
    background: rgb(49, 104, 215);
    color: white;
  }
}

.result-modal-top, .result-modal-pattern {
  margin: -10px;
  margin-bottom: 10px;
  padding: 10px;
}
.result-modal-top {
  background: rgb(167, 224, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}
.result-modal-pattern {
  background: rgb(224, 244, 255);
}

.chip {
  background: $orange;
  color: white;
  padding: 3px 6px;
  margin-right: 10px;
  border-radius: 5px; 
  font-size: 0.6em;
  text-transform: uppercase;
}

.meld-group {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  min-height: 58px;
  &:not(:last-of-type) {
    padding-right: 20px;
    border-right: 1px solid gray;
    margin-right: 10px;
  }
}

.solitaire-settings-panel {
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  position: fixed;
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  width: calc(100% - 40px);
  z-index: 99;
  font-size: 0.7em;
  h1 {
    display: inline;
    margin: 0;
    font-size: 1rem;
    font-weight: 900;
  }
}

.solitaire-view-layer-panel {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #aaa;
  color: white;
  padding: 10px;
  border-radius: 10px;
  span {
    margin-bottom: 6px;
    font-size: 18px;
  }
  button {
    font-size: 0.9em;
    background: "#666";
    box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
  }
  button:not(:last-of-type) {
    margin-bottom: 10px;
  }
}
.solitaire-settings-symmetry, .solitaire-settings-max-layers, .solitaire-settings-mahjong-set {
  align-items: center;
}
.solitaire-settings-symmetry, .solitaire-settings-mahjong-set {
  flex: 1 0;
}
.solitaire-settings-max-layers {
  flex: 2 0;
}

.solitaire-grid {
  position: absolute;
  z-index: 1;
  background: white;
  border: 0.5px solid #d9d9d9;
  box-sizing: border-box;
}

.solitaire-grid-labels {
  position: absolute;
  color: #999;
  filter: drop-shadow(1px 1px 1px white) drop-shadow(-1px -1px 1px white);
  font-size: 0.8rem;
  z-index: 99;
  display: grid;
  padding-bottom: 3px;
  padding-right: 3px;
}

.solitaire-generate-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  font-size: 1.75em;
  padding: 5px 30px;
  border-radius: 999px;
}

@media (max-width: 540px) {
  .solitaire-settings-symmetry {
    flex: none;
  }
  .solitaire-settings-max-layers {
    flex: 1 0;
  }
  .solitaire-settings-mahjong-set {
    flex: none;
  }
}